.container {
  width: 14.5rem;
  height: 10.875rem;
  background-color: #fff;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: .75rem 1.25rem .3125rem 1.6875rem;
  position: relative;

  .balls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    .ballOne, .ballTwo, .ballThree, .ballFour {
      cursor: pointer;
      width: 9px;
      height: 9px;
      background: #06967B;
      border-radius: 50%;

      &.active {
        background: transparent;
        border: 1px solid #06967B;
      }
    }
  }

  .arrowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 1px solid #06967B;
    color: #06967B;
    border-radius: 50%;
    cursor: pointer;
  }

  .titleCard {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #0E6696;
  }

  .descriptionCard {
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    
    .scroll {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: auto;

      div {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          color: #7B7B7B;

          & + p {
            margin-right: 5%;
          }
        }

        & + div {
          margin-top: 0.625rem;
        }
      }
    }
  }

  .card1 {
    width: 100%;
    height: 100%;

    .title {
      h3 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.25rem;
        color: #0E6696;
      }
  
      p {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.25rem;
        color: #0E6696;
      }
    }
  
    .images {
      img {
        width:  2.5rem;
        height: 2.5rem;
      }
    }
  
    .descriptions {
      p {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: #C4C4C4;
      }
    }
  }

  .card2, .card3 {
    width: 100%;
    height: 100%;
  }

  .card4 {
    width: 100%;
    height: 100%;
    position: relative;

    .titleCard4 {
      h3 {
        text-align: center;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.25rem;
        color: #0E6696;
      }

      p {
        color: #0E66968A;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 1.25rem;
        text-align: center;
        margin-bottom: .2rem;
      }
    }

    .descriptionCard4 {
      width: 60%;
      height: 5rem;
      margin: 0 auto;
      
      .scroll {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow-y: auto;


        .tooltip {
          display: inline-block;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          color: #7B7B7B;

          & + p {
            margin-top: 0.625rem;
          }

          .tooltipText {
            visibility: hidden;
            width: 161px;
            height: 26px;
            background-color: #FFF9C7;
            color: #000;
            font-weight: 400;
            font-size: 8px;
            text-align: center;
            padding: .2rem;
            position: absolute;
            z-index: 1;
            margin-left: .5rem;
          }

          &:hover .tooltipText {
            visibility: visible;
          }
        }
      }
    }
  }
}